<div ui-content-for="title">
  <span class="title-text">HOME</span>
</div>

<!-- scrollable divs -->
<div class="scrollable">
 <div class="scrollable-content section">

<!-- main content -->
<div class="list-group text-center">
  <div class="list-group-item list-group-item-home">
    <div>
      <i class="home-icon fa fa-users fa-5x feature-icon text-primary"></i>
    </div>
    <div>
      <h3 class="home-heading">My Teams</h3>
    </div>
  </div>
  <div class="list-group-item list-group-item-home">
    <div>
      <i class="home-icon fa fa-calendar fa-5x feature-icon text-primary"></i>
    </div>
    <div>
      <h3 class="home-heading">My Events</h3>
    </div>
  </div>
</div>

<!-- end scrollabl divs -->
  </div>
</div>
