<div class="modal" ui-if="view_all_events_modal" ui-shared-state="view_all_events_modal">
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close"
                ui-turn-off="view_all_events_modal">&times;</button>
        <h4 class="modal-title">Modal Info</h4>
      </div>
      <div class="modal-body">
        <p class="title-text">Success! Now go build your team!</p>
      </div>
      <div class="modal-footer">
        <button ui-turn-off="view_all_events_modal" class="btn btn-default">Close</button>
      </div>
    </div>
  </div>
</div>
