<div class="modal" ui-if="modal_view_all_ladders" ui-shared-state="modal_view_all_ladders">
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close"
                ui-turn-off="modal_view_all_ladders">&times;</button>
        <h4 class="modal-title">Ladder Info</h4>
      </div>
      <div class="modal-body">
          <div ng-repeat="obj in Get_Data.data.ladders.ladders">
            <!-- <div ng-if="obj.type == modalLadderName"> -->
            <h2>{{obj.type}}</h2>
            <table>
              <tr>
                <th>Rank</th>
                <th colspan="2" align="center">Player</th>
              </tr>
              <tr ng-repeat="player in Ladder_Data.data.ladder">
                <td>{{player.rank}}</td>
                <td>{{player.first_name}}</td>
                <td>{{player.last_name}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button ui-turn-off="modal_view_all_ladders" class="btn btn-default">Close</button>
        <!-- <button ui-turn-off="modal_view_all_ladders" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
